.silk {
  background-color: #dcd0d0;
}

.img-fluid {
  width: 100%;
  height: 250px;

}
.navbar {
  background-color: #373737 ;
}


.fondo {
  background-color: #c0b283;
}

h2 {
  color: #373737;
}

footer {
  background-color: #3737376d;
}

.img-big {
  width: 100%;
  height: 400px;
}

.secondTittle {
  display: flex;
  justify-content: center;
}
